*.properties
*.bin
*.lock
*.log
*.prefs
*.location
*.tree
*.launch
*.xml
gradle/wrapper/gradle-wrapper.jar
build.gradle
gradlew
gradlew.bat
eclipse/
out/
ModularDrones.iml
ModularDrones.ipr
ModularDrones.iws
src/main/java/com/mcmod.info